*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #222;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  place-content: center;
  height: 100vh;
}
button{
  border: 0;
  padding: 10px;
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
}